# MongoDB connection string
# Contoh:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/logbook?appName=cluster-name
MONGODB_URI=mongodb+srv://simjtk_admin:LZHvY2WAEkaI6wOd@bukankan-ini-my-free-cl.szusr0x.mongodb.net/simjtk_db?appName=bukankan-ini-my-free-cluster

# 1: Error, 2: Info (Connect/Success), 3: Verbose (All Activities)
LOG_LEVEL=3

# Kosongkan jika tidak ingin mute file tertentu.
# Contoh: LOG_MUTE=mongo_service.dart
LOG_MUTE=

# Daftar role aplikasi, pisahkan dengan koma.
APP_ROLES=Ketua,Anggota,Asisten
